*{
    box-sizing: border-box;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
html, body{
    height: 100%;
    width: 100%;
}
header::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 45vh;
    box-shadow: 10px 10px 10px black;
    opacity: 0.3;
    background: url('https://source.unsplash.com/random/900×700/?education') no-repeat center center/cover;
}
.mbc-logo{
    border-radius: 50%;
    display: inline-block;
    border: 10px groove orange;
}
header > a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    top: 13px;
    left: 13px;
    /* border: 2px solid black; */
    width: 98px;
    height: 98px;
}
header > p{
    display: inline-block;
    border: 10px groove red;
}
#navbar{
    justify-content: center;
    display: flex;
    border: 2px solid black;
    overflow: auto;
    border-radius: 10vh;
    background: linear-gradient(red, orange, yellow, cyan);
}
#mid{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
}
#mid ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    overflow: auto;
}
#mid ul li{
    margin: auto 25vh;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
#mid ul li a{
    margin: 0;
    text-decoration: none;
    color: black;
}
#mid ul #active{
    color: red;
}
#mid ul li a:hover{
    color: red;
    transition: 0.5s;
}
#search-bar{
    height: 4.5vh;
    width: 20vw;
    border: 2px solid green;
    border-radius: 5px;
    /* margin-left: 10px; */
}
main > .material-symbols-outlined{
    height: 4.5vh;
    border: 2px solid green;
    border-right: none;
    border-radius: 5px;
    /* margin: 20px 0px auto auto; */
    position: relative;
    top: 1vh;
    right: -1vh;
}
#sign-up-sign-in-btn-div{
    width: 75vw;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
}
.btn{
    width: 5vw;
    height: 5vh;
    margin: 2vh;
}
#log-in-btn{
    border: 2px dashed black;
}
#sign-up-btn{
    border: 2px solid red;
    background-color: black;
    color: white;
}
#log-in-btn:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}
#sign-up-btn:hover{
    background-color: transparent;
    transition: 0.5s;
    color: black;
    transform: scaleY(-20px);
    box-shadow: 5px 5px 3px black;
}
#classes-div-parent{
    /* border: 2px solid black; */
    margin-top: 20vh;
    width: 50vw;
    height: 200vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.classes-div{
    display: flex;
    flex-wrap: wrap;
    border: 0.5px solid lightgrey;
    width: 35vw;
    height: 35vh;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    justify-content: center;
    box-shadow: 10px 10px 5px 5px black;
}
/* todo: I have to make a dropdown of subjects */
.subject-dropdown{
    font-size: 28px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    /* border: 2px solid black; */
    flex-direction: column;
}
.subject-dropdown-inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 50%;
    flex-direction: column;
}
.subject-dropdown p{
    font-size: 30px;
    color: blueviolet;
    border: 5px groove blue;
    padding: 5px;
}
.subject-dropdown:hover p{
    display: none;
}
.subject-dropdown-inner ul{
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 15vw;
}
.subject-dropdown:hover ul{
    background-color: green;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 40px;
}
.subject-dropdown-inner li{
    margin-top: 10px;
    border-bottom: 5px solid red;
}
.subject-dropdown-inner li a{
    color: white;
}
.subject-dropdown-inner li:first-child{
    margin-top: 0;
}
.subject-dropdown-inner a{
    text-decoration: none;
}
#class-6-div .subject-dropdown:hover .subject-dropdown-inner ul, #class-7-div .subject-dropdown:hover .subject-dropdown-inner ul{
    margin-top: 260px;
    text-align: center;
}
#class-6-div .subject-dropdown-inner{
    z-index: 1;
    text-align: center;
    position: absolute;
    width: 9%;
    height: 18%;
}
/* #class-6-div .subject-dropdown-inner ul{

} */
#class-6-div .subject-dropdown-inner ul li:nth-child(5){
    font-size: 25px;
}
#class-7-div .subject-dropdown:hover ul{
    z-index: 1;
    position: absolute;
}
#quiz-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    left: 65%;
    top: 400px;
    width: 30vw;
    height: 40vh;
    border: 0.5px solid lightgrey;
    box-shadow: 10px 10px 5px 5px black;
    border-radius: 15px;
}
#quiz-btn{
    width: 100%;
    height: 10vh;
    font-size: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
}
#quiz-div img{
    height: 29.5vh;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#esc-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 745px;
    left: 65%;
    width: 30vw;
    height: 40vh;
    border: 0.5px solid lightgrey;
    box-shadow: 10px 10px 5px 5px black;
    border-radius: 15px;
}
#esc-btn{
    width: 100%;
    height: 10vh;
    font-size: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
}
#esc-div img{
    height: 29.5vh;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#maths-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 172%;
    left: 65%;
    width: 30vw;
    height: 40vh;
    border: 0.5px solid lightgrey;
    box-shadow: 10px 10px 5px 5px black;
    border-radius: 15px;
}
#maths-btn{
    width: 100%;
    height: 10vh;
    font-size: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
}
#maths-div img{
    height: 29.5vh;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#hv-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 1435px;
    left: 65%;
    width: 30vw;
    height: 40vh;
    border: 0.5px solid lightgrey;
    box-shadow: 10px 10px 5px 5px black;
    border-radius: 15px;
}
#hv-btn{
    width: 100%;
    height: 10vh;
    font-size: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: none;
}
#hv-div img{
    height: 29.5vh;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#comment{
    background-color: rgb(250, 248, 248);
    width: 45%;
    margin: auto;
    margin-top: 10%;
    height: 80vh;
    border: 0.5px solid lightgrey;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
#comment h1 {
    padding: 8px;
    margin: 0;
    width: 100%;
    text-align: center;
}
#comment p {
    padding: 8px;
    margin: 0;
    margin-bottom: 20px;
}
#comment p span{
    color: red;
    font-size: 20px;
}
#comment label[for="comment"] span{
    color: red;
}
#comment textarea {
    border: 0.5px solid lightgrey;
    padding: 10px;
}
#comment fieldset {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin: 8px;
}
footer{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    background-color: greenyellow;
    width: 100%;
    height: 30%;
}
footer > p{
    font-family: fantasy;
    text-align: center;
}
footer img{
    width: 20px;
    height: 20px;
}
#backtotop-btn{
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    left: 95%;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.685);
}
#backtotop-btn:hover{
    transform: translateY(-10px) translateX(-10px);
    transition: 1s;
    box-shadow: 3px 3px 1.5px 1.5px black;
    color: indianred;
    background-color: rgba(255, 255, 255, 0.863);
}
#backtotop-btn > span{
    font-size: 10.5px;
}
